figure.card {
  position: relative;
  height: 50rem;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
  &:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    img {
      transform: scale(1.25);
    }
    figcaption {
      bottom: 0;
    }
  }
  h1 {
    position: absolute;
    top: 50px;
    left: 20px;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 60px;
    font-weight: 100;
    line-height: 1;
  }
  img {
    height: 100%;
    transition: 0.25s;
  }
  figcaption {
    position: absolute;
    bottom: -22.6%;
    left: 0;
    width: 100%;
    //height: 50%;
    margin: 0;
    padding: 30px;
    background-color: rgba(#3b2222, 0.85);
    box-shadow: 0 0 10px 5px rgba(black, 0.6);
    color: white;
    line-height: 1;
    transition: 0.25s;
    h3 {
      color: white;
      margin: 0 0 20px;
      padding: 0;
    }
    p {
      font-size: 14px;
      line-height: 1.75;
    }
    a.button {
      width: 16rem;
      display: block;
      margin: 10px auto 0;
      padding: 10px 30px;
      background-color: #1abc9c;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 14px;
      text-align: center;
      position: static;
    }
  }
}
