@import "colors.scss";
@import "card.scss";

$desktop: 1024px;

/**
Usage:
@include breakpoint(desktop) {
  top: calc(100% - 140px);
  max-height: 500px;
}
**/
@mixin breakpoint($point) {
  @if $point == desktop {
    @media (min-width: $desktop) {
      @content;
		}
	}
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  display: flex;
  color: $fg-color;
  background-color: $bg-color;
  font-family: 'Source Sans Pro', Helvetica, serif;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 0.0625em;
  line-height: 1.8em;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1.4em;
    line-height: 1.6em;
  }
}

a {
  font-weight: 700;
  color: $link-color;
  text-decoration: none;
  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

p {
  margin: 1.6rem 0 1.6rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darker-fg-color;
  text-transform: uppercase;
  letter-spacing: 0.0625em;
  margin: 3.2rem 0 1.6rem 0;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.2rem;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 2.8rem;
    line-height: 2.8rem;
  }
}

h2 {
  margin: 8rem 0 4rem;
  font-size: 2.8rem;
  line-height: 2.8rem;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 2.4rem;
    line-height: 2.4rem;
  }
}

h3 {
  margin: 8rem 0 4rem;
  font-size: 2.4rem;
  line-height: 2.4rem;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 2rem;
    line-height: 2rem;
  }
}

h4 {
  font-size: 2.2rem;
  line-height: 2.2rem;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1.8rem;
    line-height: 1.8rem;
  }
}

h5 {
  font-size: 2rem;
  line-height: 2rem;
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
}

h6 {
  font-size: 1.4rem;
  line-height: 1.4rem;
}

pre {
  margin: 1.6rem 0 1rem 0;
  padding: 1.6rem;
  overflow-x: auto;
}

code {
  display: inline-block;
  background-color: $darker-fg-color;
  color: $bg-color;
  padding: 0.4rem 0.8rem 0.4rem 0.8rem;
}

blockquote {
  border-left: 2px solid $darker-bg-color;
  padding-left: 1.6rem;
  font-style: italic;
}

th,
td {
  padding: 1.6rem;
}

table {
  border-collapse: collapse;
}

table td,
table th {
  border: 2px solid $darker-fg-color;
}

table tr:first-child th {
  border-top: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}

table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}

img {
  max-width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

nav.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;

  .logo {
    margin-left: 2rem;
  }

  .nav-links {
    display: flex;
    list-style: none;
    margin-left: auto;
  }

  .nav-item a {
    margin: 0 15px;
    text-decoration: none;
  }
}

.navigation {
  height: 6rem;
  width: 100%;
  a {
    display: inline;
    font-size: 1.6rem;
    text-transform: uppercase;
    line-height: 6rem;
    letter-spacing: 0.1rem;
    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
      font-size: 1.6rem;
    }
  }
  ul {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    li {
      float: left;
      margin: 0;
      position: relative;
      a {
        margin-left: 1rem;
        margin-right: 1rem;
      }
      @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
        float: none !important;
      }
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
      visibility: hidden;
      opacity: 0;
      max-height: 0;
      z-index: 5;
      top: 5rem;
      right: 0;
      width: 100%;
      position: absolute;
      background-color: rgba(254, 254, 254, 0.98);
      padding: 0;
      border-bottom: solid 2px #e2dfe1;
      transition: opacity 0.25s, max-height 0.15s linear;
    }
  }
}

#menu-control {
  display: none;
}

.btn-mobile {
  display: none;
}

.mobile-menu-lang-separator-centered {
  display: none;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .btn-mobile {
    display: block;
    font-size: 2rem;
    color: black;
    cursor: pointer;
    margin-top: 1.5rem;
  }

  #menu-control:checked + label .btn-mobile {
    color: #e2dfe1;
  }

  #menu-control:checked + label ul {
    visibility: visible;
    opacity: 1;
    max-height: 100rem;
  }

  .navigation-item {
    position: relative;
  }

  .mobile-menu-lang-separator-centered {
    display: block;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  .mobile-menu-lang-separator-full {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .multilingual-separator {
    display: none;
  }

  .align-left {
    text-align: left;
    padding-left: 1rem;
  }

  .align-right {
    text-align: right;
    padding-right: 1rem;
  }

  .align-center {
    text-align: center;
  }
}

.content {
  flex: 1;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
  article {
    header {
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
      h1,
      h2 {
        margin: 0;
      }
      h2 {
        margin-top: 1rem;
        font-size: 1.8rem;
        color: $fg-color;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          font-size: 1.6rem;
        }
      }
    }
  }
}

.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  @media only screen and (max-device-width: 768px) {
    width: 10rem;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;
    li {
      font-size: 1.6rem;
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: 1.4rem;
        margin: 1.6rem 0 1.6rem 0;
      }
      span {
        display: inline-block;
        text-align: right;
        width: 20rem;
        margin-right: 3rem;
        @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
          display: block;
          text-align: left;
        }
      }
      a {
        text-transform: uppercase;
      }
    }
  }
}

.pagination {
  margin-top: 6rem;
  text-align: center;
  li {
    display: inline;
    text-align: center;
    span {
      margin: 0;
      text-align: center;
      width: 3.2rem;
    }
    a {
      span {
        margin: 0;
        text-align: center;
        width: 3.2rem;
      }
    }
  }
}

.centered {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  .chat {
    width: 100%;
    margin-bottom:4rem;
  }
  .about {
    text-align: center;
    margin-bottom:4rem;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: 2rem;
      }
    }
    ul {
      list-style: none;
      margin: 3rem 0 1rem 0;
      padding: 0;
      li {
        display: inline-block;
        position: relative;
        a {
          text-transform: uppercase;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.6rem;
          @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .error {
    text-align: center;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: 3.2rem;
      }
    }
    h2 {
      margin-top: 2rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        font-size: 2.8rem;
      }
    }
  }
}

.footer {
  width: 100%;
  text-align: center;
  line-height: 2rem;
  margin-bottom: 1rem;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

// ### AsciiDoc style enhancements ###

.title {
  font-weight: bold;
}

a {
  position: relative;
  transition: 0.5s;
}

a:before,
a:after {
  position: absolute;
  bottom: -2px;
  content: "";
  display: inline-block;
  width: 0;
  height: 2px;
  background: #f30034;
  transition: 0.5s;
}

a:before {
  left: 50%;
}

a:after {
  right: 50%;
}

a:hover {
  text-decoration: none;
}

a:hover:before,
a:hover:after {
  width: 50%;
}

.portfolio .portfolio-inner {
  display: flex;
  align-items: stretch;
}

.portfolio .portfolio-inner .portfolio-image {
  display: flex;
  align-items: center;
  margin-right: 5%;
  width: 45%;
}

.portfolio .portfolio-inner .portfolio-content {
  flex: 1;
}

.navigation {
  height: auto;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.fixed-bar {
  position: fixed;
  bottom: 0;
  margin: 0;
  height: 65px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background: #fefefe;
}

.fixed-bar .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 65px;
}

code {
  background: #364549 !important;
}

.social-list {
  .social-item {
    i {
      font-size: 30px;
    }
  }
}

.sns-shares {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sns-shares .sns-share {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 56px;
  width: 56px;
  text-decoration: none;
}

.sns-shares .sns-share:hover:before,
.sns-shares .sns-share:hover:after {
  width: 0;
}

.sns-shares .twitter-share .fa-twitter {
  font-size: 24px;
}

.sns-shares .fb-share .fa-facebook-f {
  font-size: 24px;
}

.sns-shares .hatena-share .fa-bookmark {
  font-size: 24px;
}

.sns-shares .line-share .fa-line {
  font-size: 30px;
}

.sns-shares .linkedIn-share .fa-linkedin {
  font-size: 30px;
}

.sp-sns-shares {
  display: none;
}

@media (max-width: 920px) {
  .pc-sns-shares {
    display: none;
  }

  .sp-sns-shares {
    display: flex;
    position: relative;
    justify-content: space-around;
    width: 100%;
  }

  .portfolio .portfolio-inner {
    display: block;
  }

  .portfolio .portfolio-inner .portfolio-image {
    width: 100%;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
  align-items: start;

  .grid-item {
    padding: 1rem;
  }
}

.grid-container.two {
  grid-template-columns: auto auto;
}

.grid-container.tree {
  grid-template-columns: auto auto auto;
}

.hero {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 100%;
  height: 30rem;
  position: relative;
  padding: 1rem;
  background-image: url("/img/mount_ararat.jpg");
  background-position: left top;
  background-size: contain;
  background-repeat: no-repeat;

  h1 {
    color: #157;
    text-transform: capitalize;
    position: absolute;
    right: 1rem;
    bottom: 6rem;
  }

  h2 {
    color: #157;
    position: absolute;
    font-size: 2rem;
    right: 1rem;
    bottom: 1rem;
  }
}

.even-columns {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 3rem;

  margin: 0 auto;

  & > div {
    color: white;
    border-radius: 0.25rem;
  }

  
}

// @media (min-width: 100rem) {
//   grid-auto-flow: column;
//   grid-auto-columns: 1fr;
// }


