<footer class="footer">
  <section class="container">
      <div class="sns-shares">
        {{ if .Site.Params.enableTwitterShare }}
          <a class="sns-share twitter-share" href="https://twitter.com/intent/tweet?original_referer={{ .Permalink }}&ref_src=twsrc%5Etfw&text={{ .Title }} {{ .Site.Title }}&tw_p=tweetbutton&url={{ .Permalink }}"><i class="fab fa-twitter"></i></a>
        {{ end }}
        {{ if .Site.Params.enableFacebookShare }}
          <a class="fb btn sns-share fb-share" href="http://www.facebook.com/share.php?u={{ .Permalink }}" onclick="window.open(this.href, 'FBwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fab fa-facebook-f"></i></a>
        {{ end }}
        {{ if .Site.Params.enableLinkedInShare }}
          <a class="sns-share linkedIn-share" href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}"><i class="fab fa-linkedin"></i></a>
        {{ end }}
      </div>
    {{ if not .Site.Params.hideCopyright }} © {{ .Site.LastChange.Format "2006" }} {{ end }} {{ if not .Site.Params.hideCredits}} {{ if not .Site.Params.hideCopyright }} · {{ end }} Powered by ❤️{{ end }}
  </section>
</footer>