<section class="container">
  <nav class="navbar">
    <img src="/img/aclogo.svg" alt="armenianchat.net logo with happy chatting face" height="40" width="60" />
    <a class="logo" href="{{ print "/" | relLangURL }}">{{.Site.Title }}</a>
    <ul class="nav-links">
      {{ with .Site.Menus.main}}
      {{ range sort . }}
      <li class="nav-item"><a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
      {{ end }}
      {{ end }}
      {{ if .Site.IsMultiLingual }}
      {{/*  {{ printf "%#v" $.Site.Language.Lang }}  */}}
      <li class="multilingual-separator">{{ $.Site.Params.LangSeparator }}</li>
      <li class="nav-item">{{ if in (slice "hy" "HY") $.Site.Language.Lang }}<a
          href="{{ (index .Site.Home.AllTranslations 0).Permalink }}"> 🇺🇸 </a>{{ else }}<a
          href="{{ (index .Site.Home.AllTranslations 1).Permalink }}"> 🇦🇲 </a>{{ end }}</li>
      {{ end }}
    </ul>
  </nav>
</section>