<section class="container centered">
  <div class="hero">
    <h1>{{ i18n "armenian_chat_for_interaction" }}</h1>
    <h2>{{ i18n "best_armenian_chat_room_in_irc" }}</h2>
  </div>
  <div class="chat">
    {{/*  <iframe src="https://kiwiirc.com/client/irc.rizon.club:+9999/?nick=ArmenianChat|?#Armenia" style="border:0; width:100%; height:800px;"></iframe>  */}}
    <iframe src="https://kiwiirc.com/nextclient/?settings=90c153bef63ba10fdbd1ac99ed589f9f" style="width:100%;height:800px;border:0;display:block"></iframe>
    {{/*  {{ i18n "reload_page_on_failure" }}  */}}
  </div>

  <div class="even-columns">
    <div>
      <figure class="card">
        <h1>{{ i18n "live" }}</h1>
        <img src="/img/girl_with_sun.jpg" alt="" />
        <figcaption>
          <h3>
            {{ i18n "live_title" }}
          </h3>
          <p>{{ i18n "live_description" }}</p>
        </figcaption>
      </figure>
    </div>
    <div>
      <figure class="card">
        <h1>{{ i18n "love" }}</h1>
        <img src="/img/girl_with_heart.jpg" alt="" />
        <figcaption>
          <h3>
            {{ i18n "love_title" }}
          </h3>
          <p>{{ i18n "love_description" }}</p>
          {{/*  <a class="button" href="/">More Info</a>  */}}
        </figcaption>
      </figure>
    </div>
    <div>
      <figure class="card">
        <h1>{{ i18n "chat" }}</h1>
        <img src="/img/jumping_girls.jpg" alt="" />
        <figcaption>
          <h3>
            {{ i18n "chat_title" }}
          </h3>
          <p>{{ i18n "chat_description" }}</p>
        </figcaption>
      </figure>
    </div>
  </div>
</section>
